.admin-filter-container {
  display: flex;
  padding: 32px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #333;
  .date-container {
    display: flex;
    flex-direction: column;
    label {
      padding-left: 4px;
      padding-bottom: 4px;
      color: #949393;
    }
    .date-picker-component {
      font-size: 15px;

      padding-left: 8px;
      width: auto;
      margin-right: 64px;
      height: 48px;
      border-radius: 6px;
      border: 2px solid #2361e8;
    }
    .employee-select-component {
      margin-right: 64px;
    }
    .css-1s2u09g-control {
      min-height: 48px;
      border: 2px solid #2361e8;
    }
    .employee-select-component {
      font-size: 15px;
      width: 194px;
      height: 48px;
    }
  }
  .customer-container {
    label {
    }
  }
}

.remove-emp-btn {
  color: black;
  background-color: red;
  border-radius: 8px;
  margin: 8px 16px;
}

.update-emp-btn {
  color: black;
  background-color: green;
  border-radius: 8px;
  margin: 8px 16px;
}
