.filter {
  .filterComponent {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    margin-top: 80px;
    .employee-name {
      font-size: 24px;
      text-transform: uppercase;
    }
    .actio-container {
      .add-btn {
        background-color: $addbuttoncolor;
        color: $white-color;
        border-radius: 10px;
      }
    }
  }
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
.cardscontainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  font-family: Verdana, sans-serif;
  .card {
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background-color: #ffffff;
    border: 0.5px solid #d0d0d0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    .card-heading {
      font-size: 20px;
    }
    .card-count {
      padding: 24px;
      font-size: 24px;
    }
    .total {
      font-size: 32px !important;
    }
  }
  .btn-daily,
  .btn-monthly,
  .btn-yearly {
    margin: 8px;
    background-color: #2361e8;
    border-radius: 10px;
    color: #ffffff;
    &:hover {
      color: #333;
      background-color: #ffffff;
    }
  }
}
