.modal-container {
  margin: 32px;
  .modal-text {
    padding: 32px 16px 32px 16px;
    margin-right: 32px;
    margin-bottom: 32px;
    font-size: 22px;
  }
  .modal-text-input {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    font-size: 22px;
    .form-container {
      display: flex;
      flex-direction: column;
    }
    .username-text {
      text-align: center;
      padding-bottom: 16px;
    }
    .input-ele {
      padding: 10px;
      border-radius: 6px;
    }
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    .cancle-modal-btn {
      border-radius: 8px;
      background-color: #2361e8;
      color: #ffffff;
      margin-right: 16px;
    }
    .remove-modal-btn {
      border-radius: 8px;
      background-color: red;
      color: #ffffff;
    }
  }
}

.react-responsive-modal-closeButton {
  margin-left: 8px;
}

.input-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px 0;
  .password-icon-update {
    height: 40px;
    cursor: pointer;
  }
}
.check-box-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .show-checkbox {
    transform: scale(1.5);
  }
  .show-password-label {
    font-size: 16px;
    margin-left: 16px;
    cursor: pointer;
  }
}
